/* Ubuntu Font: Regular 400, Bold 700, and Italic 300 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');

html {
    height: 100%;
}

/* Reset Browser Defaults for all element types */
* {
    box-sizing: border-box;  /* Dont include padding and border in element size */
    margin: 0;  /* Remove default browser margin values */
    padding: 0;  /* Remove default browser padding values */
} 

/* Apply to all elements within the body */
body {
    min-height: 100%;  /* body height must match 100% of viewport height */
    font-family: 'Ubuntu', sans-serif;  /* imported font */
    font-size: 16px;  /* Base font size */
    line-height: 1.5;  /* Base text line height */
    color: #1f2937;  /* Base font color */
    background: #fff;  /* Base bg color */
    display: flex;  /* used to keep footer at the bottom of the page */
    flex-direction: column;  /* used to keep footer at the bottom of the page */
}


/* .container class used to add space on the sides of the page */
.container {
    max-width: 1100px;
    margin: 0 auto;  /* 0 magin on top and bottom, but auto on left and right to put it in the middle*/
    padding: 0 30px;
}


/* Navbar properties */
.navbar {
    background: #1f2937;
    color: #f9faf8;
    height: 60px;
}

.navbar .menu {
    list-style-type: none;  /* Remove bullets from the ul elements of the navbar */
    display: flex;
}

.navbar .menu li {
    margin-left: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;  /* Remove underline from links of the navbar */
    font-size: 18px;
    font-weight: normal;
}

.navbar a:hover {
    color: #3882f6;
}